    body{
        background-color: #070b34;
        font-family: monospace;
        color: #855988;
        text-align: center;
        font-size: 23pt;
    }

    a{
        color: #6b4984;
    }

    a:hover{
        text-decoration: overline;
    }
